Repository govtechmy/myds: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec lint --fix, pnpm exec eslint --fix

.lintstagedrc:

{
  "apps/docs/**/*.{js,ts,tsx,jsx}": ["pnpm exec lint --fix"],
  "packages/react/**/*.{js,ts,tsx,jsx}": ["pnpm exec eslint --fix"]
}

fix: error
  .lintstagedrc
  apps/docs/app/[lang]/docs/[[...slug]]/page.tsx
Due: pnpm exec lint --fix

trying lint
  apps/docs/app/[lang]/docs/[[...slug]]/page.tsx
Due: pnpm exec lint --fix

trying lint
  .lintstagedrc
  apps/docs/app/[lang]/docs/[[...slug]]/page.tsx
  apps/docs/package.json
Due: pnpm exec lint --fix

fix:tsconfig
  .lintstagedrc
  apps/docs/app/[lang]/docs/[[...slug]]/page.tsx
  packages/react/.eslintrc.js
Due: pnpm exec lint --fix, pnpm exec eslint --fix

feat: accessibility test docs
  apps/docs/content/docs/develop/(getting-started)/accessibility-test.mdx
  apps/docs/content/docs/develop/(getting-started)/accessibility-test.ms.mdx
  apps/docs/content/docs/develop/meta.en.json
  apps/docs/content/docs/develop/meta.ms.json
Due: none

fix docs
  apps/docs/content/docs/develop/(getting-started)/accessibility-test.mdx
  apps/docs/content/docs/develop/(getting-started)/accessibility-test.ms.mdx
Due: none

Fix: changeset config and changeset
  .changeset/config.json
  .changeset/cyan-drinks-retire.md
  .changeset/five-weeks-peel.md
  .changeset/wicked-cats-marry.md
Due: none

fix: svg icon names
  apps/storybook/.storybook/main.ts
  packages/react/src/svg/icons/align-center.svg
  packages/react/src/svg/icons/align-justify.svg
  packages/react/src/svg/icons/align-left.svg
  packages/react/src/svg/icons/align-right.svg
  packages/react/src/svg/icons/bold.svg
  packages/react/src/svg/icons/bulleted-list.svg
  packages/react/src/svg/icons/carousel.svg
  packages/react/src/svg/icons/check-shield.svg
  packages/react/src/svg/icons/check-star.svg
  packages/react/src/svg/icons/ellipsis-vertical.svg
  packages/react/src/svg/icons/ellipsis.svg
  packages/react/src/svg/icons/excel-media.svg
  packages/react/src/svg/icons/excel.svg
  packages/react/src/svg/icons/filter-asc.svg
  packages/react/src/svg/icons/filter-desc.svg
  packages/react/src/svg/icons/font.svg
  packages/react/src/svg/icons/github.svg
  packages/react/src/svg/icons/govt-office.svg
  packages/react/src/svg/icons/input-field.svg
  packages/react/src/svg/icons/italic.svg
  packages/react/src/svg/icons/link-WYSIWYG.svg
  packages/react/src/svg/icons/link-diagonal.svg
  packages/react/src/svg/icons/link.svg
  packages/react/src/svg/icons/linkedin.svg
  packages/react/src/svg/icons/numbered-list.svg
  packages/react/src/svg/icons/pdf-media.svg
  packages/react/src/svg/icons/pdf.svg
  packages/react/src/svg/icons/powerpoint-media.svg
  packages/react/src/svg/icons/putrajaya.svg
  packages/react/src/svg/icons/reset-style.svg
  packages/react/src/svg/icons/strikethrough.svg
  packages/react/src/svg/icons/tiktok.svg
  packages/react/src/svg/icons/twitter-x.svg
  packages/react/src/svg/icons/underline.svg
  packages/react/src/svg/icons/unlink.svg
  packages/react/src/svg/icons/word-media.svg
  packages/react/src/svg/icons/word.svg
Due: none

fix: tabs style
  .changeset/orange-snakes-smoke.md
  apps/storybook/.storybook/main.ts
  packages/react/src/components/tabs.tsx
Due: pnpm exec eslint --fix

fix: add asChild for NavbarMenuItem
  .changeset/chilled-years-play.md
  packages/react/src/components/navbar.tsx
Due: pnpm exec eslint --fix

feat: integrate refactored navbar and footer
  apps/storybook/stories/article.stories.tsx
  apps/storybook/stories/components/landingPage.tsx
  apps/storybook/stories/landing-page.stories.tsx
Due: none

fix: resolve confilict
  apps/storybook/.storybook/main.ts
Due: none

fix: failed build - icon name changes applied
  apps/docs/content/docs/develop/(components)/dropdown.mdx
  apps/docs/content/docs/develop/(components)/dropdown.ms.mdx
  apps/docs/content/docs/develop/(components)/masthead.mdx
  apps/docs/content/docs/develop/(components)/masthead.ms.mdx
  apps/docs/content/docs/develop/index.mdx
  apps/docs/content/docs/develop/index.ms.mdx
  apps/storybook/stories/dropdown.stories.tsx
  apps/storybook/stories/masthead.stories.tsx
  apps/storybook/stories/pagination.stories.tsx
Due: none

fix: cache remove
  packages/react/src/icons/rss.tsx
  packages/react/src/svg/icons/facebook.svg
  packages/react/src/svg/icons/figma.svg
  packages/react/src/svg/icons/google.svg
  packages/react/src/svg/icons/instagram.svg
  packages/react/src/svg/icons/telegram.svg
  packages/react/src/svg/icons/whatsapp.svg
  packages/react/src/svg/icons/youtube.svg
Due: pnpm exec eslint --fix

Fix: navbar height
  .changeset/cool-planes-cheer.md
  .changeset/fluffy-pants-hammer.md
  packages/react/src/components/navbar.tsx
Due: pnpm exec eslint --fix

hotfix: eslint config
  .changeset/tame-ducks-call.md
  packages/react/package.json
Due: none

fix: lockfile
  pnpm-lock.yaml
Due: none

fix:reworked design and implementations of copy
  apps/docs/components/icon/ResultMap.tsx
Due: pnpm exec lint --fix

fix: clip-path to clipPath
  apps/docs/icons/ibm-equal-access.tsx
  apps/standard/icons/flag-my.tsx
  packages/react/src/icons/malaysia-flag.tsx
Due: pnpm exec lint --fix, pnpm exec eslint --fix

fix: rework search bar and fix css (-)
  apps/docs/components/icon/Searchbar.tsx
  packages/react/src/icons/excel-media.tsx
  packages/react/src/icons/legacy-book-moe.tsx
  packages/react/src/icons/legacy-jata-negara.tsx
  packages/react/src/icons/legacy-mini-book-moe.tsx
  packages/react/src/icons/pdf-media.tsx
  packages/react/src/icons/powerpoint-media.tsx
  packages/react/src/icons/word-media.tsx
Due: pnpm exec lint --fix, pnpm exec eslint --fix

fix: improvise responsive css
  apps/docs/app/[lang]/icon/page.tsx
  apps/docs/app/global.css
Due: pnpm exec lint --fix

fix:add back unintended rm files
  apps/docs/public/assets/icons/about-icon1.svg
  apps/docs/public/assets/icons/about-icon2.svg
  apps/docs/public/assets/icons/about-icon3.svg
  apps/docs/public/assets/icons/about-icon4.svg
  apps/docs/public/assets/icons/about-icon5.svg
  apps/docs/public/assets/icons/about-icon6.svg
Due: none

correct broken link
  apps/docs/content/docs/develop/(hooks)/use-pagination.mdx
  apps/docs/content/docs/develop/(hooks)/use-toast.mdx
Due: none

chore ♻️: add comment at not-found to entrust this source code
  apps/docs/app/not-found.tsx
Due: pnpm exec lint --fix

fix: i-18n addition
  apps/docs/app/[lang]/icon/page.tsx
  apps/docs/components/icon/IconDataList.tsx
  apps/docs/components/icon/TabFiltered.tsx
  apps/docs/locales/en.ts
  apps/docs/locales/ms.ts
Due: pnpm exec lint --fix

fix:pnpm lock issue
  pnpm-lock.yaml
Due: none

fix:import naming issue
  apps/storybook/stories/components/landingPage.tsx
Due: none

fix: logic
  apps/docs/app/[lang]/icon/page.tsx
  apps/docs/components/icon/IconDataList.tsx
  apps/docs/components/icon/ResultMap.tsx
  apps/docs/components/icon/SearchProvider.tsx
  apps/docs/components/icon/Searchbar.tsx
  apps/docs/components/icon/TabFiltered.tsx
Due: pnpm exec lint --fix

fix: i18n copied
  apps/docs/components/icon/ResultMap.tsx
  apps/docs/locales/en.ts
  apps/docs/locales/ms.ts
Due: pnpm exec lint --fix

fix: docs nav menu
  apps/docs/app/[lang]/docs/layout.tsx
  apps/docs/app/[lang]/icon/layout.tsx
  apps/docs/app/[lang]/layout.config.tsx
  apps/docs/locales/en.ts
  apps/docs/locales/ms.ts
Due: pnpm exec lint --fix

fix: tabs vertical padding
  .changeset/giant-snakes-count.md
  apps/docs/components/icon/TabFiltered.tsx
  packages/react/src/components/tabs.tsx
Due: pnpm exec lint --fix, pnpm exec eslint --fix

fix: css icon result map
  apps/docs/components/icon/ResultMap.tsx
Due: pnpm exec lint --fix

style: maximize available width for p tag in masthead before truncating
  .changeset/witty-pianos-invite.md
  packages/react/src/components/masthead.tsx
Due: pnpm exec eslint --fix

fix: hover did not display copy icon
  .changeset/lemon-students-crash.md
  apps/docs/components/icon/ResultMap.tsx
Due: pnpm exec lint --fix

change changeset patch descriptions
  .changeset/lemon-students-crash.md
Due: none

chore: remove empty code block
  apps/docs/content/docs/develop/(components)/search-bar.mdx
  apps/docs/content/docs/develop/(components)/search-bar.ms.mdx
  apps/docs/content/docs/develop/(components)/toast.mdx
  apps/docs/content/docs/develop/(components)/toast.ms.mdx
Due: none

chore: remove default value for accordian type prop
  apps/docs/content/docs/develop/(components)/accordion.mdx
  apps/docs/content/docs/develop/(components)/accordion.ms.mdx
Due: none
